body {
    margin: 0; /* Убираем стандартные отступы браузера */
    padding: 0;
    overflow: hidden; /* Убираем ползунки прокрутки */
}

canvas {
    border: 1px solid black;
    display: block; /* Убираем лишние промежутки под канвасом */
    width: 100%; /* Растягиваем канвас по ширине */
    height: 100%; /* Растягиваем канвас по высоте */
}

html {
    touch-action: manipulation;
  }